.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

@media (max-width: 768px) {
    .select-coin {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}