#transaction-form .ant-form-item {
    margin-bottom: 0px;
}

#transaction-form .ant-form-extra {
    padding-top: 0px;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
}